<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/homeStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center" id="logo">Cadastros.com</a>
    </div>
</nav>
<div class="container">
        <a href="/cadastrarAluno" class="waves-effect waves-light btn btn-large"><i class="material-icons right">school</i>CADASTRAR ALUNO</a>
    </form>
</div>
</body>
</html>
